.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  height: 100vh;
  scrollbar-color: #808080 transparent;

  @media (max-width: 768px) {
    padding-bottom: 20%;
  }
}
