.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  height: 100vh;
  scrollbar-color: #808080 transparent;

  /* Media query chung cho các thiết bị di động có màn hình nhỏ hơn hoặc bằng 768px */
  @media (max-width: 768px) {
    padding-bottom: 20%;
  }
}
