.googleCustomBtn {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 320px !important;
  padding: 12px;
  border-radius: 8px;
  background-color: red;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}
