.homeContainerResponsiveBg {
  background-color: #000;
  @media (max-width: 768px) {
    background-color: #0d1015;
  }
}

.postItemResponsiveBg {
  background-color: #000;
  @media (max-width: 768px) {
    background-color: #0d1015;
  }
  @media (max-width: 480px) {
    padding-bottom: 20px;
    border: none;

    img {
      padding: 0 !important;
    }
  }
}

.InteractionButtonContainer {
  @media (max-width: 480px) {
    padding: 15px 10px;
  }
}

.mediaContainerResponsiveBg {
  background-color: #000;

  img {
    padding: 1px;
  }

  @media (max-width: 768px) {
    background-color: #0d1015;
  }

  @media (max-width: 480px) {
    img {
      padding: 2px !important;
    }
  }
}

.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 996;
  opacity: 0;
  transition: opacity 0.4s ease;

  &.fadeIn {
    opacity: 1;
  }

  &.fadeOut {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .commentInput {
    display: none;
  }
}
