@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: #808080 transparent;
  overflow-x: hidden !important;
  -ms-overflow-style: none
}

@media(max-width: 768px) {
  body {
    background-color: #0d1015;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body::-webkit-scrollbar {
    display: none !important;
  }

  html::-webkit-scrollbar {
    display: none !important;
  }

  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

main {
  margin-left: 240px;
  overflow-x: hidden !important;
}

@media(max-width: 1264px) {
  main {
    margin-left: 70px;
  }
}

@media(max-width: 768px) {
  main {
    margin-left: 0;
  }
}

/* Chỉ riêng trang setting trên PC (>= 1264px) sẽ margin-left: 70px */
@media (min-width: 1264px) {
  main[data-page="setting"] {
    margin-left: 70px !important;
  }
}

body.modal-open {
  overflow: hidden !important;
}