.sidebar {
  width: 240px;
  color: #fff;
  height: 100vh;
  padding: 20px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
  position: relative;
  z-index: 999;

  @media (max-width: 972px) {
    display: none;
  }
}

.logo {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 15px;
  border-radius: 8px;
  transition: background 0.2s ease;
  font-size: 14px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #1a1a1a;
  }
}

.active {
  background-color: #1a1a1a;
}

.avatarPlaceholder {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #888;
}
.bottomItem {
  margin-top: auto;
}
