.form {
  border: 1px solid #303030;
  @media (max-width: 480px) {
    border: none;
    margin: 0;
    padding: 10px 30px;
  }
}
.form2 {
  border: 1px solid #303030;
  @media (max-width: 480px) {
    margin: 0;
    padding: 20px 30px 0 30px;
    border: none;
  }
}
.container {
  @media (max-width: 480px) {
    min-height: 85vh;
  }
  input {
    border: 1px solid #303030;
  }
}
